body {
  font-family: 'Muli', sans-serif;
}

.App {
  text-align: center;
}

.btn1 {
  padding: 10px 24px;
  border-radius: 12px;
  display: inline-block;
  background-color: #008cba;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.btn1:hover {
  background-color: #c060a1;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 2px;
}

.btn-secondary {
  color: #ffffff !important;
  background-color: #b8b0b0;
  border-color: #b8b0b0;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #b8b0b0 !important;
  border-color: #b8b0b0 !important;
}
.buttons-row > button:not(:last-child) {
  margin-right: 18px;
}

.card {
  background-color: #ff5722;
  color: #ffffff;
  padding: 26px;
}
